.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableMargin {
  margin-left: 10rem;
  margin-right: 10rem;
}

.characterLogo {
  height: 2rem;
  margin: 0.5rem;
}

thead tr th {
  vertical-align: middle;
  text-align: center;
}
tbody tr {
  background-color: #ffffff;
  color: #000000;
}
tbody tr.selected {
  background-color: #edf5ff;
}
.red {
 color:red;
  
}
tbody tr th {
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}

tbody tr td {
  vertical-align: middle;
  text-align: center;
}

tbody tr td:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.champion-img {
  cursor: pointer;
  position: relative;
}
.champion-img:hover + .champion-cover,
.champion-cover:hover {
  z-index: 1;
  opacity: 1;
}
.champion-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: 250ms;
  bottom: 0;
  background: rgba(33, 122, 255, 0.6);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  color: #fff;
}

.search-input {
  display: block;
  padding: 0.45rem 3rem 0.45rem 2.5rem;
  min-width: 40%;
  font-size: 0.8rem;
  border: 1px solid #777777;
  border-radius: 5px;
  background-image: url(./img/search-icon.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px center;
}
.search-input:hover,
.search-input:active,
.search-input:focus {
  outline: none;
}

.search-container {
  margin-bottom: 2rem;
  position: relative;
}

.bg-search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  opacity: 1;
  width: 75%;
  z-index: -1;
  top: 50%;
 
  background: url(./components/Rectangle1.png);
  background-repeat: no-repeat;
  background-size: 80% 10%;
  background-position: center center;
}
.mark{
  background: url(./components/Group13.png);
  background-repeat: no-repeat;
  background-size: 80% 10%; 
}
td img {
  border-radius: 50%;
  border: 1px solid #217aff;
  min-width: 4rem;
  min-height: 4rem;
}
